* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 14px;
  background-color: #f2f2f2;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #404040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  width: 100%;
  padding: 16px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-box {
  border-radius: 14px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.body {
  flex: 1;
  display: flex;
  gap: 14px;
}

.side-bar {
  background-color: #c9f5d6;
  width: 300px;
}

.main-content {
  background-color: white;
  flex: 1;
  padding: 32px;
}

.title {
  font-size: 1.6em;
  margin-bottom: 20px;
}

.nav-list {
  padding: 32px 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-link {
  font-size: 1.1em;
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  text-align: left;
  border-radius: 9999px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
  background-color: #404040;
  color: white;
}

.image-list {
  list-style-type: none;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  gap: 10px;
}

.thumbnail:hover {
  border: 2px solid red;
  cursor: pointer;
}

.main-about{
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style-position: inside;
}